@font-face {
    font-family: 'ShackleItalic';
    src: url('../assets/fonts/shackle-font/ShackleItalic-DOml1.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Exo2';
    src: url('../assets/fonts/Exo_2/Exo2-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ShackleRegular';
    src: url('../assets/fonts/shackle-font/ShackleRegular-ALvV7.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}