.home-page {
    background-image: url('../assets/images/Background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #ffffff; /* Change text color to white */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); /* Add text shadow for better readability */
}

.header-container {
    background-color: rgba(0, 0, 0, 0.5); /* Translucent black background */
    padding: 20px;
    border-radius: 10px;
}

.animated-title {
    font-family: 'ShackleItalic', sans-serif;
    font-size: 36px;
    animation: fadeIn 2s ease-in-out;
    color: #ffffff; /* Change text color to white */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Add text shadow for better readability */
}

.animated-description {
    animation: fadeIn 2s ease-in-out 1s;
    color: #ffffff; /* Change text color to white */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); /* Add text shadow for better readability */
}

.animated-section {
    animation: slideIn 1s ease-in-out;
    color: #ffffff; /* Change text color to white */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); /* Add text shadow for better readability */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.container {
    max-width: 100%;
    padding: 0 15px;
}

@media (max-width: 768px) {
    .animated-title {
        font-size: 28px;
    }

    .container {
        padding: 0 10px;
    }
}