.custom-navbar {
    background-color: rgb(0, 77, 77); /* Darkish teal color */
    transition: top 0.3s;
}

.custom-navbar.hidden {
    top: -100px; /* Move the navbar out of view */
}

.navbar-dark .navbar-brand {
    color: #ffffff; /* White color for the brand */
    font-weight: bold; /* Make the brand bold */
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffffff; /* White color for the links */
    font-family: 'Exo2', sans-serif; /* Use custom font */
    transition: transform 0.3s ease, color 0.3s ease;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #ebc107; /* Futuristic blue color on hover */
}

.navbar-dark .navbar-nav .nav-item.active .nav-link {
    color: #d2ff08; /* Futuristic luminous green color for active link */
    transform: scale(1.3); /* Increase the size */
    font-weight: bold; /* Make the active link bold */
}

.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.navbar-nav .nav-item {
    margin: 0 10px; /* Add some spacing between nav items */
}

.navbar-collapse {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar-nav.ml-auto {
    justify-content: flex-end;
}

.side-panel {
    position: fixed;
    top: 0;
    left: -100px;
    width: 100px;
    height: 100%;
    background-color: rgba(0, 77, 77, 0.6); /* 40% transparent darkish teal color */
    transition: left 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    padding-bottom: 20px;
}

.side-panel.visible {
    left: 0;
}

.side-nav {
    list-style: none;
    padding: 0;
    margin: 0;
}

.side-nav-item {
    margin: 20px 0;
}

.side-nav-link img {
    height: 36px;
    width: 36px;
}

.side-panel .navbar-brand {
    color: #ffffff; /* White color for the brand */
    font-weight: bold; /* Make the brand bold */
}

.side-nav-account {
    margin-top: auto;
}
